{% extends "core/base.html" %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block content %}
    <div class="container my-3" style="height: auto">
        <div class="content background-black">
            <div class="row p-2">
                <div class="col-12 col-lg-2">
                    <img class="w-100" src="{% if game.cover %}{{ game.cover }}{% else %}//images.igdb.com/igdb/image/upload/t_cover_big/nocover.png{% endif %}" alt="">
                </div>
                <div class="col-12 col-lg-8 pt-3 pt-lg-0">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <h3>{{ game.name }}</h3>
                            <hr>
                            {% if game.storyline %}
                                <p>game.storyline</p>
                            {% endif %}
                            {% if game.description %}
                                <p>{{ game.description }}</p>
                            {% endif %}
                        </div>
                        <div class="col-12 col-lg-4">
                            {% if game.date_release %}
                                <p><strong>Release date:</strong> {{ game.date_release }}</p>
                            {% endif %}
                            {% if game.genres.all|length %}
                                <div class="genres"><strong>Genres:</strong></div>
                                {% for genre in game.genres.all %}
                                    <div class="ps-2">{{ genre.name }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if game.platforms.all|length %}
                                <div class="platforms"><strong>Platforms:</strong></div>
                                {% for platform in game.platforms.all %}
                                    <div class="ps-2">{{ platform.name }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% if game.screenshots.all|length %}
                        <hr>
                        <div id="carouselExampleIndicators" class="carousel slide py-3" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for screenshot in game.screenshots.all %}
                                    {% if forloop.counter == 1 %}
                                        <div class="carousel-item active">
                                            <img src="{{ screenshot.url }}" class="d-block w-100 rounded" alt="">
                                        </div>
                                    {% endif %}
                                    <div class="carousel-item">
                                        <img src="{{ screenshot.url }}" class="d-block w-100 rounded" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <hr>
                        </div>
                    {% endif %}
                <div class="col-12 col-lg-2">
                    {% if tweets|length %}
                        <span>Tweets:</span>
                        {% for tweet in tweets %}
                            {% if forloop.counter <= 3 %}
                                <hr>
                                <div class="p-3 p-lg-1">
                                    <div class="fst-italic">Author: <a href="https://twitter.com/{{ tweet.author }}" target="_blank">@{{ tweet.author }}</a></div>
                                    <div class="fst-italic">Date: {{ tweet.created_at|date }}</div>
                                    <p>{{ tweet.text }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="collapse" id="collapseTweets">
                            {% for tweet in tweets %}
                                {% if forloop.counter > 3 %}
                                    <hr>
                                    <div class="p-3 p-lg-1">
                                        <div class="fst-italic">Author: <a href="https://twitter.com/{{ tweet.author }}" target="_blank">@{{ tweet.author }}</a></div>
                                        <div class="fst-italic">Date: {{ tweet.created_at|date }}</div>
                                        <p>{{ tweet.text }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="btn btn-outline-warning w-100" data-bs-toggle="collapse" href="#collapseTweets" role="button" aria-expanded="false" aria-controls="collapseExample">
                            More
                        </a>
                    {% else %}
                        <span>No tweets was found</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
