{% extends "core/base.html" %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block content %}
    <div class="content__game d-flex h-100 w-100 d-flex align-items-center">
        <div class="content__game__container row background-black h-75 w-100 p-2 mb-5" style="overflow-y: auto">
            <div class="col-9">
                <h3>{{ game.name }} <span class="badge bg-secondary">MUST</span></h3>
                {% if game.short_description %}
                    <p>{{ game.short_description }}</p>
                {% endif %}
                {% if game.description %}
                    <p>{{ game.description }}</p>
                {% endif %}
                {% if game.date_release %}
                    <p>Release date: {{ game.date_release }}</p>
                {% endif %}
                {% if game.ratings_users or game.rating_critics %}
                    <p>Ratings:
                        {% if game.ratings_users %}
                            <br>
                            Users <span class="text-warning">{{ game.ratings_users }}</span>
                            {% if game.ratings_users_count %}
                                 of <span class="text-warning">{{ game.ratings_users_count }}</span> vote
                            {% endif %}
                        {% endif %}
                        {% if game.ratings_users %}
                            <br>
                            Critics <span class="text-warning">{{ game.ratings_critics }}</span>
                            {% if game.ratings_users_count %}
                                 of <span class="text-warning">{{ game.ratings_critics_count }}</span> votes
                            {% endif %}
                        {% endif %}
                    </p>
                {% endif %}
                {% if game.screenshots.all %}
                    <div class="row">
                        {% for screenshot in game.screenshots.all %}
                            <div class="col-3 h-25">
                                <img class="screenshot h-100 w-100 my-2" src="{{ screenshot.url }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-3 bg-white">

            </div>
        </div>
    </div>
{% endblock %}
