{% extends 'core/base.html' %}

{% block title %}
    Games compilation
{% endblock %}

{% block content %}
    <div class="container my-3" style="height: auto">
        <div class="content background-black">
            <div class="row p-2">
                <div class="col-12 col-lg-2">
                    <div class="div m-2">
                        <form class="mb-2" onsubmit="filterByName()">
                            <label>
                                <input type="text" name="name" id="gameName" class="w-100 border-bottom p-0 py-2" placeholder="Search by name" style="color: white">
                            </label>
                        </form>

                        <div>
                            <span class="fw-bold">Sort by:</span>
                            <div class="ps-3 py-2">
                                <div role="button" class="sortItem" name="name">Alphabet</div>
                                <div role="button" class="sortItem" name="rating__critics">Rating</div>
                                <div role="button" class="sortItem" name="date_release">Newest</div>
                            </div>
                        </div>

                        <div class="py-2">
                            <span class="fw-bold">Genres:</span>
                            <div class="ps-3 py-1">
                                {% for genre in genres %}
                                    {% if forloop.counter <= 5 %}
                                        <div role="button" class="genre">{{ genre }}</div>
                                    {% endif %}
                                {% endfor %}
                                <div class="collapse" id="collapseGenres">
                                    {% for genre in genres %}
                                        {% if forloop.counter > 5 %}
                                            <div role="button" class="genre">{{ genre }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <a class="btn btn-outline-warning w-100" data-bs-toggle="collapse" href="#collapseGenres" role="button" aria-expanded="false" aria-controls="collapseExample">
                                More
                            </a>
                        </div>

                        <div class="py-2">
                            <span class="fw-bold">Platforms:</span>
                            <div class="ps-3 py-1">
                                {% for platform in platforms %}
                                    {% if forloop.counter <= 5 %}
                                        <div role="button" class="platform">{{ platform }}</div>
                                    {% endif %}
                                {% endfor %}
                                <div class="collapse" id="collapsePlatforms">
                                    {% for platform in platforms %}
                                        {% if forloop.counter > 5 %}
                                            <div role="button" class="platform">{{ platform }}</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <a class="btn btn-outline-warning w-100" data-bs-toggle="collapse" href="#collapsePlatforms" role="button" aria-expanded="false" aria-controls="collapseExample">
                                More
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-10">
                    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-5 g-2">
                        {% for game in game_list %}
                            <div class="col">
                                <div class="card text-white bg-dark h-100">
                                    <img class="card-img-top" style="height: 16rem" src="{% if game.cover %}{{ game.cover }}{% else %}//images.igdb.com/igdb/image/upload/t_cover_big/nocover.png{% endif %}" alt="">
                                    {% if user.is_authenticated %}
                                        <div class="card-img-overlay p-0" style="opacity: 70%">
                                            <span class="item btn btn-secondary rounded pe-auto font-monospace w-100" url="{% url 'must' game.id %}">{% if game.status %}UnMust{% else %}Must{% endif %}</span>
                                        </div>
                                    {% endif %}
                                    <div class="card-body" style="transform: rotate(0)">
                                        <div class="card-subtitle">
                                            {% for genre in game.prefetched_genres %}
                                                <span class="badge bg-secondary" style="font-size: 0.8rem">{{ genre.name }}</span>
                                            {% endfor %}
                                        </div>
                                        <a class="card-title h4 text-decoration-none text-white stretched-link mt-2" href="{% url 'game' game.id %}">{{ game.name|truncatewords:5 }}</a>
                                        <div class="card-text">
                                            {% if game.storyline %}
                                                {{ game.storyline|truncatewords:15 }}
                                            {% elif game.description %}
                                                {{ game.description|truncatewords:10 }}
                                            {% else %}
                                                No description provided
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row justify-content-center mt-2">
                        {% if page_obj.paginator.num_pages > 1 %}
                            {% if page_obj.has_previous %}
                                {% if page_obj.previous_page_number != 1 %}
                                    <a class="col-1 p-2 text-white text-decoration-none text-center" onclick="toPage(1)" style="cursor: pointer">1</a>
                                {% endif %}
                                <a class="col-1 p-2 text-white text-decoration-none text-center" onclick="toPage({{ page_obj.previous_page_number }})" style="cursor: pointer">{{ page_obj.previous_page_number }}</a>
                            {% endif %}
                            <span class="col-1 p-2 text-warning text-center">{{ page_obj.number }}</span>
                            {% if page_obj.has_next %}
                                <a class="col-1 p-2 text-white text-decoration-none text-center" onclick="toPage({{ page_obj.next_page_number }})" style="cursor: pointer">{{ page_obj.next_page_number }}</a>
                                {% if page_obj.number == 1 and paginator.num_pages >= 5 %}
                                    <a class="col-1 p-2 text-white text-decoration-none text-center" onclick="toPage(3)" style="cursor: pointer">3</a>
                                    <a class="col-1 p-2 text-white text-decoration-none text-center" onclick="toPage(4)" style="cursor: pointer">4</a>
                                {% endif %}
                                {% if page_obj.number == 2 and paginator.num_pages >= 5 %}
                                    <a class="col-1 p-2 text-white text-decoration-none text-center" onclick="toPage(4)" style="cursor: pointer">4</a>
                                {% endif %}
                                {% if page_obj.number != page_obj.num_pages and page_obj.next_page_number != page_obj.paginator.num_pages %}
                                    <a class="col-1 p-2 text-white text-decoration-none text-center" onclick="toPage({{ page_obj.paginator.num_pages }})" style="cursor: pointer">{{ page_obj.paginator.num_pages }}</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}