{% extends "core/base.html" %}
{% load placeholder %}
{% load classes %}

{% block title %}
    Log In
{% endblock %}

{% block content %}
    <div class="container" style="height: 85%">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="content__login__container bg-black rounded p-3">
                <div class="container__title">Log In now</div>
                <form class="container__form" action="{% url 'login' %}" method="POST">
                    <div class="container__form__errors">
                    {% for message in messages %}
                        <div class="form__errors__error">
                            {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                    {% csrf_token %}
                    <div class="row border border-warning rounded m-0 my-4">
                        {{ form.username | placeholder:' Username' | classes:'bg-black text-white py-2 border-0' }}
                    </div>
                    <div class="row border border-warning rounded text-white m-0">
                        {{ form.password | placeholder:' Password' | classes:'bg-black text-white py-2 border-0'}}
                    </div>
                    <div class="container__form__password_reset my-2">
                        <a class="text-white" href="">Forgot password?</a>
                    </div>
                    <input class="button button-filled bg-warning w-100" type="submit" value="Submit">
                </form>
                <div class="container__signup align-items-center text-center my-3">
                    Do not have account yet? <a class="text-white" href="{% url 'signup' %}">It is time to create!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
