{% extends "core/base.html" %}

{% block title %}
    {{ user|title }}'s Profile
{% endblock %}

{% block content %}
    <div class="container my-3" style="height: auto">
        <div class="content background-black">
            <div class="row p-3">
                <div class="col-2">
                    <img src="{{ customuser.avatar.avatar_medium.url }}" class="rounded w-100" alt="">
                </div>
                <div class="col-10">
                    <table class="w-50">
                        <tr>
                            <td class="fst-italic">Username</td>
                            <td>{{ customuser.username }}</td>
                        </tr>
                        <tr>
                            <td class="fst-italic">Email</td>
                            <td>{% if customuser == user %}{{ customuser.email }}{% else %}hidden{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="fst-italic">Name</td>
                            <td>{{ customuser.first_name }} {{ customuser.last_name }}</td>
                        </tr>
                        <tr>
                            <td class="fst-italic">Age</td>
                            <td>{{ customuser.age }}</td>
                        </tr>
                        <tr>
                            <td class="fst-italic">Musts</td>
                            <td>{{ customuser.musts.all|length }} games</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}