{% extends "base.html" %}

{% block title %}
    <title>GameMusters - {{ user }}</title>
{% endblock %}

{% block container %}
    <div class="row">
        <div class="profile col-8 font-weight-bold">
            <h2 class="font-weight-bold pl-5 pt-3">My Profile</h2>
            <div class="mt-4 ml-4">
                <img src="/user{{ MEDIA_URL }}{{ user.avatar.avatar_medium.url }}" alt="" class="rounded float-left">
                <div class="float-left ml-4 w-25">
                    <p class="row">
                        <span class="col-5 text-right text-secondary">Username</span>
                        <span class="col-7 border-left">{{ user.username }}</span>
                    </p>
                    <p class="row">
                        <span class="col-5 text-right text-secondary">Email</span>
                        <span class="col-7 border-left">{{ user.email }}</span>
                    </p>
                    <p class="row">
                        <span class="col-5 text-right text-secondary">First Name</span>
                        <span class="col-7 border-left">{{ user.first_name }}</span>
                    </p>
                    <p class="row">
                        <span class="col-5 text-right text-secondary">Last Name</span>
                        <span class="col-7 border-left">{{ user.last_name }}</span>
                    </p>
                    <p class="row">
                        <span class="col-5 text-right text-secondary">Age</span>
                        <span class="col-7 border-left">{{ user.age }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4 pt-3">
            <h2>Settings:</h2>
            <form action="{% url 'profile_update' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-danger font-weight-bold float-left">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}