{% extends "core/base.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block content %}
    <div class="container" style="height: 85%">
        <div class="content__login d-flex justify-content-center align-items-center h-100">
            <div class="content__login__container bg-black rounded p-3">
                <div class="container__title">Create your account</div>
                <form class="container__form" action="{% url 'signup' %}" method="POST">
                    <div class="container__form__errors">
                        {% for message in messages %}
                            <div class="form__errors__error">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                    {% csrf_token %}
                    <div class="row border border-warning rounded m-0 my-3">
                        {{ form.username | placeholder:' Username' | classes:'bg-black text-white py-2 border-0' }}
                    </div>
                        {{ form.errors.username }}
                    <div class="row border border-warning rounded  m-0 my-3">
                        {{ form.email | placeholder:' Email' | classes:'bg-black text-white py-2 border-0' }}
                    </div>
                        {{ form.errors.email }}
                    <div class="row border border-warning rounded  m-0 my-3">
                        {{ form.first_name | placeholder:' First name' | classes:'bg-black text-white py-2 border-0' }}
                    </div>
                        {{ form.errors.first_name }}
                    <div class="row border border-warning rounded  m-0 my-3">
                        {{ form.last_name | placeholder:' Last name' | classes:'bg-black text-white py-2 border-0' }}
                    </div>
                        {{ form.errors.last_name }}
                    <div class="row border border-warning rounded  m-0 my-3">
                        {{ form.birth_date | placeholder:' Date of birth (yyyy-mm-dd)' | classes:'bg-black text-white py-2 border-0' }}
                    </div>
                        {{ form.errors.birth_date }}
                    <div class="row border border-warning rounded  m-0 my-3">
                        {{ form.password | placeholder:'Password' | classes:'bg-black text-white py-2 border-0'}}
                    </div>
                        {{ form.errors.password }}
                    <div class="row border border-warning rounded  m-0 my-3">
                        {{ form.password_confirm | placeholder:' Confirm password' | classes:'bg-black text-white py-2 border-0'}}
                    </div>
                        {{ form.errors.password_confirm }}
                    <input class="button button-filled bg-warning w-100" type="submit" value="Submit">
                </form>
                <div class="container__signup align-items-center text-center my-3">
                    Already have an account? <a class="text-white" href="{% url 'login' %}">Login!</a>
                </div>
            </div>
            <script>
                $(document).ready(function(){
                    $('#id_birth-date').mask('00/00/0000');
                });
            </script>
        </div>
    </div>
{% endblock %}