<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header class="row header">
    <div class="col-12 header-content  d-flex justify-content-between">
        <div class="d-flex justify-content-start">
            <img class="header-logo"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/PlayStationTriangle.svg/576px-PlayStationTriangle.svg.png"
             alt="">
            <h2 class="header-name"><a href="/">GameMuster</a></h2>
        </div>
        <div class="header-user d-flex justify-content-end align-middle">
            {% if user.is_authenticated %}
                <p class="m-auto">Hello <a href="/profile">{{ user }}</a>!</p>
                <a href="/mymusts" class="btn btn-success mr-3 ml-3 font-weight-bold">My MUSTs</a>
                <a href="/logout" class="btn btn-light font-weight-bold">Log out</a>
            {% else %}
                <a href="/signup" class="btn btn-light mr-3 font-weight-bold">Sign Up</a>
                <p class="m-auto">or</p>
                <a href="/login" class="btn btn-light ml-3 font-weight-bold">Log in</a>
            {% endif %}
        </div>
    </div>
</header>
<div class="container-fluid">
    {% if filter == True %}
    <div class="col-2 filter">
        {% include "filter.html" %}
    </div>
    {% endif %}
    {% block container %}
    {% endblock %}
</div>
</div>

<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
</body>
</html>