<div class="row">
    <div class="col-12 filter-header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/PlayStationTriangle.svg/576px-PlayStationTriangle.svg.png"
             alt="">
        <h4>Filters</h4>
    </div>
    <div class="col-12 filter-content">
        <div class="row">
            <div class="col-12 d-flex justify-content-start">
                <h5 class="filter-name">Platforms</h5>
                <div class="filter-unactive d-flex justify-content-around">
                    <span class="filter-element rounded-circle">PC</span>
                    <span class="filter-element rounded-circle">PS4</span>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-start">
                <h5 class="filter-name">Genres</h5>
                <div class="filter-unactive d-flex justify-content-between">
                    <span class="filter-element rounded-circle">Platformer</span>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-start">
                <h5 class="filter-name">User rating</h5>
                <div class="filter-unactive d-flex justify-content-start">
                    <input type="range" max="10.0" min="0.0" value="5">
                </div>
            </div>
        </div>
        <form action="GET">
            <input type="button" value="Apply">
        </form>
    </div>
</div>
