@import "./variables.scss";

html {
    height: 100%;
}

body {
    height: 100%;
    background: $background;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    color: white;
}

.text-warning {
    color: $orange;
}

.text-accent {
    color: $yellow;
}

.nav-item .active {
    color: $orange !important;
}

.nav-link {
    @extend .nav-link;
    display: flex;
    justify-items: end;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white !important;
    padding: 1.2rem 20px;


    &:hover {
        @extend .nav-link, :hover;
        color: $orange !important;
    }

    &:active {
        @extend .nav-link, :active;
        color: $orange !important;
    }
}

.btn-outline-warning {
    @extend .btn-outline-warning;
    color: $orange;

    &:hover {
        background-color: $orange;
    }
}

.background-black {
    background: black;
    border-radius: 20px;
}

.background-dark {
    background: $background;
}

.font-roboto {
    font-family: Roboto, sans-serif;
}

input {
    appearance: none;
    -webkit-appearance: none;
    outline: 0;
    background: black;
    padding: 0.5rem 0.3rem;
    border: 0;
}