{% extends "base.html" %}

{% block title %}
<title>GameMuster - {{ item.name }}</title>
{% endblock %}

{% block container %}
<div class="row game">
    <div class="col-9">
        <div class="col-12 d-flex justify-content-start align-middle">
            <h2 class="text-uppercase font-weight-bold game-name">{{ game.name }}</h2>
            <h3 class="text-uppercase font-weight-bold item-genre">Must</h3>
        </div>
        <div class="col-12">{{ game.short_description }}</div>
        <div class="row">
            <div class="col-9">
                <div class="col-12">
                    <h5 class="font-weight-bold">Description</h5>
                </div>
                <div class="col-12">{{ game.description }}</div>
                <div class="col-12">
                    <h5 class="font-weight-bold">Release Date</h5>
                </div>
                <div class="col-12">{{ game.date_release }}</div>
                <div class="col-12">
                    <h5 class="font-weight-bold">Screenshots</h5>
                </div>
                <div class="row">
                    {% for screenshot in screenshots %}
                    <div class="col-4">
                        <img src="{{ screenshot }}" alt="" height="250" width="250">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <h5 class="font-weight-bold">Ratings</h5>
                        <div class="col-12">
                            <div class="row font-weight-bold">
                                <div class="col-12 user-rating d-inline-flex justify-content-between">
                                    <div>
                                        Users
                                    </div>
                                    <div>
                                        {{ game.ratings.users }}({{ game.ratings.users_reviews }} reviews)
                                    </div>
                                </div>
                                <div class="col-12 critics-rating d-inline-flex justify-content-between">
                                    <div>
                                        Critics
                                    </div>
                                    <div>
                                        {{ game.ratings.critics }}({{ game.ratings.critics_reviews }} reviews)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h5 class="font-weight-bold">Genres</h5>
                        <div class="d-flex justify-content-start">
                                {% for genre in genres %}
                                <div class="col-3 item-genre font-weight-bold">{{ genre.name }}</div>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="col-12">
                        <h5 class="font-weight-bold">Platforms</h5>
                            <div class="d-flex justify-content-start">
                                {% for platform in platforms %}
                                <div class="col-3 item-genre font-weight-bold">{{ platform.name }}</div>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <h2 class="font-weight-bold">#{{ game.name }} Tweets</h2>
        {% if tweets.message %}
        <p>{{ tweets.message }}</p>
        {% else %}
        <div class="row">
            {% for tweet in tweets %}
            <div class="col-12 tweet d-block">
                <div class="tweet-text">{{ tweet.text }}</div>
                <div class="tweet-info d-flex justify-content-between">
                    <span>{{ tweet.created_at }}</span>
                    <span>@{{ tweet.author_id }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
            {% endif %}
    </div>
</div>
{% endblock %}
