{% extends "base.html" %}

{% block title %}
<title>GameMuster</title>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-10 content">
        <div class="center-block">
            <div class="row search">
                {% include "search.html" %}
            </div>
            <div class="row main-content">
                {% include "games.html" %}
            </div>
            <div class="row pages">
                {% include "pages.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
