{% extends "base.html" %}

{% block title %}
    <title>GameMuster - MyMusts</title>
{% endblock %}

{% block container %}
    <h1 class="mt-3 ml-3 font-weight-bold">My MUST</h1>
    <div class="container-fluid">
        <div class="row m-0 w-100 h-100">
            {% for game in games %}
                <div class="col-3 w-100 h-100 position-relative py-4">
                    <img src="{{ game.game.logo }}" alt="" width="25%" height="25%">
                    <h5>{{ game.game.name }}</h5>
                </div>
            {% endfor %}
    </div>
    </div>
{% endblock %}
