{% extends "base.html" %}
{% load get_item %}

{% block title %}
    <title>GameMuster - MyMusts</title>
{% endblock %}

{% block container %}
    <h1 class="mt-3 ml-3 font-weight-bold">My MUST</h1>
    <div class="container-fluid px-5 py-3">
        <div class="row m-0 mt-3 w-100 h-100">
            {% for id, must_value in musts.items %}
                <div class="col-2 h-50 m-0 mb-4">
                    <img src="{{ must_value|get_item:'logo' }}" class="rounded" style="width: 80%; height: 80%" alt="">
                    <h4>{{ must_value|get_item:'name' }}</h4>
                    {% for genre in must_value|get_item:'genres' %}
                        <span>{{ genre }} </span>
                    {% endfor %}
                    <p>Users added: {{ must_value|get_item:'users_added' }}</p>
                    <button url="/must/{{ id }}" class="must btn text-light bg-danger mx-1 rounded px-2 py-1 position-absolute" style="top: 280px; right: 25%">UnMust</button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
