<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body class="overflow-hidden m-0 h-100 w-100">
<header class="row header w-100 bg-danger m-0" style="height: 5vh; box-shadow: 0 0 10px red;">
    <div class="col-12 d-flex justify-content-between h-100">
        <div class="d-flex justify-content-start">
            <img class="my-auto" style="height: 4vh;"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/PlayStationTriangle.svg/576px-PlayStationTriangle.svg.png"
             alt="">
            <h2><a href="/" class="title font-weight-bold text-light text-decoration-none">GameMuster</a></h2>
        </div>
        <div class="d-flex justify-content-end">
            {% if user.is_authenticated %}
                <p class="m-auto font-weight-bold text-light">Hello <a href="/profile" class="text-light text-decoration-none">{{ user }}</a>!</p>
                <a href="/mymusts" class="btn btn-success font-weight-bold py-auto mr-3 ml-3 my-2">My MUSTs</a>
                <a href="/logout" class="btn btn-light font-weight-bold py-auto mr-3 my-2">Log out</a>
            {% else %}
                <a href="/signup" class="btn btn-light mr-3 font-weight-bold py-auto mr-3 my-2">Sign Up</a>
                <p class="m-auto font-weight-bold text-light">or</p>
                <a href="/login" class="btn btn-light ml-3 font-weight-bold py-auto mr-3 my-2">Log in</a>
            {% endif %}
        </div>
    </div>
</header>
<div class="container-fluid" style="height: 90vh;">
    {% if filter == True %}
    <div class="col-2 pt-3">
        {% include "filter.html" %}
    </div>
    {% endif %}
    {% block container %}
    {% endblock %}
</div>
</div>

<style>
    .title:hover {
        text-decoration: none;
    }
</style>

<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
</body>
</html>