{% load static %}

<div class="content__welcome d-flex h-75 align-items-center">
    <div class="content__welcome__container">
        <style>
        body {
            background-image: url("{% static 'assets/background-full-v2.png' %}");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #050E11;
        }
    </style>
    <h1 class="content__title font-roboto">Let’s find a new generation  of awesome video games together</h1>
    <div class="content__caption mt-4">Open source product to find games as for you with recommendations list</div>

    <div class="content__actions d-flex justify-content-start mt-4 text-center">
        <a class="button button-outlined" href="{% url 'login' %}"><span>Log in</span></a>
        <a class="button button-gradient ms-4" href="{% url 'games' %}"><span>Explore</span></a>
    </div>
    </div>
</div>